name: Docker Zeppelin Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  APP_NAME: parstat.azurecr.io/zeppelin
  APP_TAG: 0.10.0_no_conda_auth

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Login to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: parstat.azurecr.io
        username: parstat
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - name: Build the Docker image
      run: docker build docker/zeppelin/ --tag ${{ env.APP_NAME }}:${{ env.APP_TAG }}
    - name: Push Image to Docker Repository
      run: docker push ${{ env.APP_NAME }}:${{ env.APP_TAG }}
